* {
    margin: 0;
    padding: 0;
}




.website-introduction h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.secondary-text, .sign-up-for {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header {
    background-color: #1F2937;
}



ul {
    list-style: none;
    display: flex;
    flex-grow: 0;
    gap: 16px;
}

img {
    max-width: 100%;
}

.header-bottom img {
    width: 500px;
}

.header-top {
    display: flex;
    justify-content: space-evenly;
    padding-top: 16px;
}

.header-bottom {
    display: flex;
    justify-content: center;
    gap: 100px;
    max-width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.website-introduction {
    display: flex;
    flex-direction: column;
    width: 325px;
    margin-left: 100px;
}

.website-introduction button {
    margin-top: 10px;
    background-color: #3882F6;
    border-radius: 0.7rem;
    padding: 10px;
    width: 150px;
    color: white
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
}

.middle-middle {
    display: flex;
    padding-top: 24px;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.card img {
    width: 325px;
    height: 200px;
    border-radius: 0.7rem;
    gap: 10px;
}

.card-text {
    width: 250px;
    text-align: center;
}

.bottom {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    font-size: 36px;
    font-weight: light-italic;
    color: #1F2937;
    width: 700px;
    font-style: italic;
}

.author {
    margin-left: 500px;
    font-size: 20px;
    font-weight: bold;
}

.bottom-call {
    display: flex;
    justify-content: center;
    background: white;
}

.blue-box {
    display: flex;
    background-color: #3882F6;
    color: white;
    padding: 50px;
    justify-content: center;
    align-items: center;
    margin: 100px;
    border-radius: 00.7rem;
    gap: 100px;
}

.bottom-left {
    display: flex;
    flex-direction: column;
}

.blue-box button {
    background-color: #3882F6;
    color: white;
    padding: 15px;
    border-radius: 00.7rem;
    border-color: white;
}

.call-to-action {
    font-size: 24px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 20px;
}